/*
 * SETTINGS
 * variables
 * =================================================
 */

:root {
	--color-brand-0: 13, 50, 77;
	--color-brand-1: 43, 88, 118;
	--color-brand-2: 78, 67, 118;
	--color-brand-3: 173, 216, 230;
	--color-black: 0, 0, 0;
	--color-dark: 85, 85, 85;
	--color-gray: 153, 153, 153;
	--color-light: 204, 204, 204;
	--color-white: 255, 255, 255;
	--color-error: 255, 99, 71;
	--color-success: 0, 128, 128;
}

/*
 * BASE
 * reset
 * =================================================
 */

[v-cloak] {
	display: none;
}

/*
 * BASE
 * general
 * =================================================
 */

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Arial";
	color: rgb(var(--color-gray));
	background: rgb(var(--color-brand-1)); /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		rgb(var(--color-brand-0)),
		rgb(var(--color-brand-1)),
		rgb(var(--color-brand-2))
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		rgb(var(--color-brand-0)),
		rgb(var(--color-brand-1)),
		rgb(var(--color-brand-2))
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
 * COMPONENTS
 * icon
 * =================================================
 */

.sprites svg {
	width: 0;
	height: 0;
	visibility: hidden;
	position: absolute;
}

.icon {
	display: inline-block;
}

.icon__svg {
	width: 1.8rem;
	height: 1.8rem;
}

.icon--white {
	fill: rgb(var(--color-white));
}

/*
 * COMPONENTS
 * title
 * =================================================
 */

.title {
	margin-top: 4rem;
	font-family: "Permanent Marker", cursive;
	text-align: center;
	font-size: 6rem;
	line-height: 100%;
	color: rgb(var(--color-brand-3));
}

/*
 * COMPONENTS
 * table
 * =================================================
 */

.table {
	margin: 2.5rem auto;
	border-collapse: collapse;
	box-shadow: 0 0.5rem 2rem rgba(var(--color-black), 0.5);
}

.table__th,
.table__td {
	padding: 1.2rem 2.5rem;
	font-size: 1.8rem;
	color: rgb(var(--color-white));
	border-collapse: collapse;
	border: 0.1rem solid rgb(var(--color-brand-3));
}

.table .table__th {
	text-align: left;
	font-weight: 600;
	color: rgb(var(--color-white));
}

.table__td--numbers {
	width: 10rem;
	padding: 1.2rem;
	font-family: "Oxygen Mono", monospace;
}

.table__td--formula {
	font-size: 1.5rem;
	font-weight: 400;
	font-style: italic;
}

.table__row .table__td:nth-child(2) {
	text-align: right;
}

.table__row:hover {
	color: rgb(var(--color-black));
	background-color: rgba(var(--color-black), 0.3);
}

.table__row--calculate {
	background-color: rgba(var(--color-brand-3), 0.1);
}

/*
 * COMPONENTS
 * button
 * =================================================
 */

.list-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-buttons__item:not(:last-child) {
	margin-right: 1rem;
}

.button {
	outline: none;
	border: none;
	appearance: none;
	width: 4rem;
	height: 4rem;
	font-size: 3rem;
	line-height: 100%;
	color: rgb(var(--color-white));
	border: 0.2rem solid rgb(var(--color-white));
	border-radius: 50%;
	cursor: pointer;
}

.button--add {
	background-color: rgba(var(--color-success), 0.6);
}

.button--add:hover {
	background-color: rgb(var(--color-success));
}

.button--remove {
	background-color: rgba(var(--color-error), 0.6);
}

.button--remove:hover {
	background-color: rgba(var(--color-error));
}
