/* General */

body {
    color: #999;
    font-family: 'Arial';
}

h1 {
    text-align: center;
    margin-top: 40px
}

/* Table */

table {
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #42b883;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1),
        0px 10px 20px rgba(0, 0, 0, 0.05),
        0px 20px 20px rgba(0, 0, 0, 0.05),
        0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background: #f4f4f4;
}

table tr:hover td {
    color: #555;
}

table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

table tr td:nth-child(2) {
    text-align: right;
}

/* Buttons */

button {
    padding: 4px 7px;
    border-radius: 1px;
    outline: none;
}